[user]
	email = sondre.lindkjolen@spacenorway.com
	name = Sondre Lindkjolen
[push]
	autoSetupRemote = true
[maintenance]
	repo = /home/xa325
	repo = /mnt/c/Users/xa325
	repo = /home/xa325/Documents/microSAR/test-repo
	repo = /home/xa325/Documents/dyst/core
	repo = /home/xa325/Documents/core
	repo = /home/xa325/emacs
	repo = /home/xa325/Documents/dyst/core/submodules/communication_library
	repo = /home/xa325/Documents/dyst/planner
	repo = /home/xa325/Documents/dyst/pipelines
	repo = /home/xa325/Documents/core/communication_library
	repo = /home/xa325/Documents/dyst/communication-library
	repo = /home/xa325/dressrehersal/dressrehersal
	repo = /home/xa325/Documents/dyst/telemetry-service
	repo = /home/xa325/Documents/neovim
	repo = /home/xa325/Documents/test-repo
	repo = /home/xa325/Documents/dyst/ssasy-web-app
	repo = /home/xa325/Documents/ssa/web-app
	repo = /home/xa325/.local/share/nvim/lazy/nvim-treesitter
	repo = /home/xa325/Documents/ssa/ssasy
	repo = /home/xa325/Documents/dyst/adis-experiment-manager
	repo = /home/xa325/Documents/adis/adis-experiment-manager
	repo = /home/xa325/Documents/dyst/deployment-configurations
	repo = /home/xa325/Documents/ssa/ssasy-web-app
	repo = /home/xa325/Documents/ssa/ssasy-sandbox
	repo = /home/xa325/Documents/ssa/flight-dynamics
	repo = /home/xa325/Documents/dyst/development-environment
	repo = /home/xa325/Documents/dyst/helm-common
	repo = /home/xa325/Documents/ssa/flight-dynamics-engine
	repo = /home/xa325/Documents/dyst/network-policies
	repo = /home/xa325/Documents/dyst/contact-scheduler
	repo = /home/xa325/Documents/adis/adis-node-controller
	repo = /home/xa325/Documents/ssa/geneos
	repo = /home/xa325/download/geneos
	repo = /home/xa325/download/godot
	repo = /home/xa325/Documents/ssa/geneos-base-image
	repo = /home/xa325/projects/flight-dynamics-engine
[rerere]
	enabled = true
	autoUpdate = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[fetch]
	prune = true
