[user]
#<<<<<<< HEAD
#	name = =
#	email = =
#=======
	name = Sondre Lindkjølen
	email = sondredl@gmail.com

[core]
	editor = vim

[alias]
    tree = log --graph --oneline --decorate

#>>>>>>> c3610767c200455447fe811656b404ed2d49d362
