[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Sondre Lindkjolen
	email = sondredl@gmail.com
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	autoSetupRemote = true
	default = current
[pull]
	rebaset = true
	rebase = true
[merge]
	ff = no
[core]
	hooksPath = /home/sondre/.git-hooks/hooks
	editor = vim
[rerere]
	enable = true
	autoUpdate = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /home/sondre
	repo = /home/sondre/Documents/GitHub/godot
	repo = /home/sondre/Documents/GitHub/GodotDrone
	repo = /home/sondre/Documents/GitHub/godot-cpp
	repo = /home/sondre/Documents/GitHub/godot-fundamentals
