gh
ghb
obsidian
Code
Cerebro
GIMP
Haystack\ Editor
Blackmagic Design
BraveSoftware
JOSM
NextGIS
QLandkarte
QtProject.conf
VirtualBox
alacritty
autostart
balenaEtcher
bleachbit
blender
caja
chrome-remote-desktop
chromium
cinnamon*
dconf
enchant
evolution
expressvpn
godot
google-chrome
gtk-3.0
hexchat
i3
libreoffice
menus
mimeapps.list
mintmenu
nemo
pix
pulse
qBittorrent
qt5ct
redshift.conf
systemd
terminator
touchegg
unity3d
user-dirs.*
vlc
xed
xviewer
zed

