chrome-remote-desktop
chromium
cinnamon*
dconf
emacs
enchant
evoultion
expressvpn
gh
ghb
godot
google-chrome
gtk-3.0
mimeapps.list
obsidian
pix
pulse
qBittorrent
qt5ct
redshift.conf
systemd
terminator
terminatormintmenu
terminatormintmenulibreoffice
touchegg
unity3d
unity3dhexchat
user-dirs.*
vlc
xed
xviewer
zed
chrome-remote-desktopmintmenu
terminator
mintmenu
libreoffice
i3
hexchat
evoulution
caja
blender
bleachbit
balenaEtcher
autostart
alacritty
VirtalBox
QtProject.conf
QLandkarte
NextGIS
JOSM
Haystack Editor
GIMP
Code/
Blackmagic Design
BraveSoftware
Cerebro
VirtualBox
evolution
menus
nemo


